// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
body
	font-weight 100
button
	font-size 2em
.fingerprint-label
	margin-top 0.3em
	font-weight 100
	cursor: pointer
	margin-right 2em
	input
		margin-right 0.4em
.otp-label
	font-weight 100
	cursor: pointer
	input
		margin-right 0.4em
.gender-label
	margin-left 1.7em
	font-weight 100
	cursor: pointer
	text-transform capitalize
	margin-right 1em
	input
		margin-right 0.5em
.list-group-item
	display block
	cursor: pointer
	input
		float right
	&:hover,&:focus,&:active
		background-color #fafafa
.list-group-item-heading
	display inline
	font-weight 100
	font-size 14px
	i
		font-weight 100
		display inline
		margin-right 0.3em
		color #757575
.upload-jumbo
	padding-top 1em
	h5
		margin-top 0
.vcenter
	margin-top 10em
.or-text
	color #666
	font-size 1em
	padding 0 2em
	&:before
		content : '--------'
		margin 0 1em
	&:after
		content : '--------'
		margin 0 1em
.verification-method-radio,.ptext
	text-align center
	margin 0 auto
.loading-body
	opacity 0.4
	.loader
		text-align center
		z-index 10000
		position: absolute
		top 0
		left 0
		right 0
		bottom 0
		width 4em
		height 4em
		top 40%
		margin 0 auto
		display block !important
.nav-tabs
	border none
	li
		border none
		color #333
		font-weight 100
.ptext
	display block
	font-weight 400
	margin 0 auto
.username
	margin-right 0.5em