html
	head
		link(rel="stylesheet" href="./css/bootstrap.min.css")
		link(rel="stylesheet" href="./css/style.css")
	body
		form.form-horizontal
			fieldset
				legend Legend
				|     
				.form-group
					label.col-lg-2.control-label(for='inputEmail') Email
					|       
					.col-lg-10
						input#inputEmail.form-control(type='text', placeholder='Email')
				|     
				.form-group
					label.col-lg-2.control-label(for='inputPassword') Password
					|       
					.col-lg-10
						input#inputPassword.form-control(type='password', placeholder='Password')
						|         
						.checkbox
							label
								input(type='checkbox')
								|  Checkbox
				|     
				.form-group
					label.col-lg-2.control-label(for='textArea') Textarea
					|       
					.col-lg-10
						textarea#textArea.form-control(rows='3')
						|         
						span.help-block
							| A longer block of help text that breaks onto a new line and may extend beyond one line.
				|     
				.form-group
					label.col-lg-2.control-label Radios
					|       
					.col-lg-10
						.radio
							label
								input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
								|             Option one is this
						|         
						.radio
							label
								input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
								|             Option two can be something else
				|     
				.form-group
					label.col-lg-2.control-label(for='select') Selects
					|       
					.col-lg-10
						select#select.form-control
							option 1
							|           
							option 2
							|           
							option 3
							|           
							option 4
							|           
							option 5
						|         
						br
						|         
						select.form-control(multiple='')
							option 1
							|           
							option 2
							|           
							option 3
							|           
							option 4
							|           
							option 5
				|     
				.form-group
					.col-lg-10.col-lg-offset-2
						button.btn.btn-default(type='reset') Cancel
						|         
						button.btn.btn-primary(type='submit') Submit
